<% include ../partials/header %>
<div class="container">
  
  <a href="/issukis/<%= issukis._id%>/objektas/new">Pridėti objektą</a>
  <h2><%= issukis.pavadinimas%></h2>
  <img class="img-responsive" src="/images/krastas.jpg" alt="">
  <h2>Objektai: <%=pazymeti.objektai.length%> / <%= issukis.objektai.length + pazymeti.objektai.length%></h2>

  <p><%= issukis.aprasymas%></p>
  <h2 class="text-center">Aplankyk</h2>
  <% issukis.objektai.forEach(objektas => { %>
      <div class="row objectRow">
          <a href="<%= objektas.nuoroda%>" target="_blank"><h2><%= objektas.pavadinimas%></h2></a>
        <% if(objektas.mode == "QR") {%>
            <input class="markerForm marker" type="image" src="/images/reader.png" border="0" alt="Submit" />
      </div>
          <div class="informacija">
            <p><strong>Kaip rasti: </strong> <%= objektas.informacija %></p>
          </div>
        <%} else {%>
            <form class="markerForm" action="/issukis/<%=issukis._id%>/objektas/<%=objektas._id%>?_method=PUT" method="POST">
              <input class="marker" type="image" src="/images/marker.png" border="0" alt="Submit" />
            </form>
      </div>
      <%}%>
  <%})%>

  <%if(pazymeti.objektai.length) {%>
    <h2 class="text-center">Aplankyta</h2>
    <% pazymeti.objektai.forEach(objektas => { %>
        <div class="row objectRow checked">
          <a href="<%= objektas.nuoroda%>" target="_blank"><h2><%= objektas.pavadinimas%></h2></a>
        </div>
    <%})%>
  <%}%>
  
</div>

</body>