<% include ../partials/header %>
<script>
  function post(path, params, method) {
      method = method || "post";

      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);

      document.body.appendChild(form);
      form.submit();
  }

  function openQRCamera(node, objid, issid) {
    var reader = new FileReader();
    reader.onload = function() {
      node.value = "";
      qrcode.callback = function(res) {
        if(res instanceof Error) {
          alert("QR kodas nerastas. Prašome patikrinti ar buvo teisingai nufotografuotas kodas ir pabandykite dar kartą.");
        } else {
          if(res == objid) {
            post('/issukis/' + issid + '/objektas/' + objid);
          } else {
            alert("Deja, bet nuskaitytas kodas nepriklauso šiam objektui");
          }
        }
      };
      qrcode.decode(reader.result);
    };
    reader.readAsDataURL(node.files[0]);
  }

  function showQRIntro() {
    return confirm("Pasinaudokite kamera, kad galėtumėte nufotografuoti objekto QR kodą.");
  }
</script>
<div class="container">
  
  <!--<a href="/issukis/<%= issukis._id%>/objektas/new">Pridėti objektą</a>-->
  <img class="img-responsive center-block" src="/images/krastas.jpg" alt="">
  <h2><%= issukis.pavadinimas%></h2>
  <%if(pazymeti.objektai.length == issukis.objektai.length + pazymeti.objektai.length) {%>
    <button id="prizas" class="btn btn-primary btn-lg">Atsiimti prizą</button>
  <%} else {%>
    <h2>Objektai: <%=pazymeti.objektai.length%> / <%= issukis.objektai.length + pazymeti.objektai.length%></h2>
  <%}%>

  <p><%= issukis.aprasymas%></p>
  <%if(issukis.objektai.length) {%>
    <h2 class="text-center">Aplankykite</h2>
  <%}%>
  <% issukis.objektai.forEach(objektas => { %>
      <div class="row objectRow">
          <a href="<%= objektas.nuoroda%>" target="_blank"><h2><%= objektas.pavadinimas%></h2></a>
        <% if(objektas.mode == "QR") {%>
        <label for="file-upload" class="custom-file-upload markerForm">
          <img class=" marker" src="/images/reader.png" alt="">
        </label>            
        <input id="file-upload" type='file' accept="image/*" capture='environment' onchange="openQRCamera(this, '<%= objektas._id%>', '<%=issukis._id%>');" tabindex='-1'>
      </div>
          <div class="informacija">
            <p><strong>Kaip rasti: </strong> <%= objektas.informacija %></p>
          </div>
        <%} else {%>
            <form class="markerForm" action="/issukis/<%=issukis._id%>/objektas/<%=objektas._id%>" method="POST">
              <input class="marker" type="image" src="/images/marker.png" border="0" alt="Submit" />
            </form>
      </div>
      <%}%>
  <%})%>

  <%if(pazymeti.objektai.length) {%>
    <h2 class="text-center">Aplankyta</h2>
    <% pazymeti.objektai.forEach(objektas => { %>
        <div class="row objectRow checked">
          <a href="<%= objektas.nuoroda%>" target="_blank"><h2><%= objektas.pavadinimas%></h2></a>
        </div>
    <%})%>
  <%}%>
  <form action="/issukis/<%= issukis._id%>/over" method="post">
    <button style="border-radius:0; margin-top:45px" class="center-block btn btn-lg btn-primary" type="submit">Pradėti iššūkį iš naujo</button>
  </form>
</div>
<div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Jei norite atsiimti prizą, parodykite šį kodą įmonės darbuotojui*</h2>
        </div>
        <div class="modal-body">
          <img class="center-block" src="/images/prizoqr.png" alt="">
          <h6 class="text-center">*Prizų kiekis ribotas</h6>
        </div>
      </div>
    </div>
</body>

<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("prizas");
    var span = document.getElementsByClassName("close")[0];


    window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
    }

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }
</script>
