<% include ../partials/header %>
<div class="container-fluid showing">
<h1 id="campaignTitle"><%= campaign.title%></h1>
    <div class="row mapRow">
      <div class="col-lg-7 mapDiv">
        <h2>Iššūkio objektai</h2>
        <div id="pagalbinis" style="overflow-y: auto">
          <table class="table table-hover objectTable">
            <tr>
              <th>Nr.</th>
              <th>Pavadinimas</th>
              <th>Raktažodis</th>
              <th>Lattitude</th>
              <th>Longitude</th>
            </tr>
            <% var rasta = false %>
              <% for(var i = 0; i < campaign.mapObject.length; i++) {%>
                    <% for(var j = 0; j < user.mapObjects.length; j++) { %>
                      <% if(user.mapObjects[j]._id.equals(campaign.mapObject[i]._id) || user.mapObjects.length == 0) {%>
                      <tr class="checked obj">
                        <td class="objid" style="display: none"><%= campaign.mapObject[i]._id%></td>
                        <td class="objraktas" style="display: none"><%= campaign.mapObject[i].raktazodis%></td>
                        <td><%= i+1%>.</td>
                        <td class="name"><%= campaign.mapObject[i].name%></td>
                        <td><%= campaign.mapObject[i].raktazodis%></td>
                        <td class="lattitude"><%= campaign.mapObject[i].lattitude%></td>
                        <td class="longitude"><%= campaign.mapObject[i].longitude%></td>
                        <td></td>
                      </tr>
                      <%rasta=true%>
                      <%break%>
                      <%} else {%>
                        <%rasta=false%>
                        <%continue%>
                      <%}%>
                    <%}%>
                    <%if(!rasta) {%>
                        <tr class="obj">
                        <td class="objid" style="display: none"><%= campaign.mapObject[i]._id%></td>
                        <td class="objraktas" style="display: none"><%= campaign.mapObject[i].raktazodis%></td>
                            <td><%= j+1%>.</td>
                            <td class="name"><%= campaign.mapObject[i].name%></td>
                            <!--<td><form onsubmit="return checkIn(<%=campaign.mapObject[i].lattitude%>, <%=campaign.mapObject[i].longitude%>)" action="/user/addobject/<%=campaign.mapObject[i]._id%>?_method=PUT" method="POST">
                            <button onClick="checkIn(<%=campaign.mapObject[i].lattitude%>, <%=campaign.mapObject[i].longitude%>)" type="submit" class="btn btn-md btn-primary apsilankiau">Apsilankiau</button>
                            </form></td>-->
                            <td><input id="rakt" nr="<%=j+1%>" type="text" placeholder="Įveskite raktažodį"></td>
                            <td class="lattitude"><%= campaign.mapObject[i].lattitude%></td>
                            <td class="longitude"><%= campaign.mapObject[i].longitude%></td>
                        </tr>
                      <%}%>
                  <%}%>
          </table>
          
        </div>
      </div>
      
      <div class="col-lg-5 nuotraukos">
        <h2><a id="instrukcija">Instrukcija</a></h2>
        <% if(user) {%>
          <%if(user.mapObjects.length) {%>
            <h2>Aplankytą objektų: <%= user.mapObjects.length%> iš <%= campaign.mapObject.length%></h2>
          <%} else {%>
            <h2>Aplankytą objektų: 0 iš 0</h2>
          <%}%>
        <%}%>
        
        <button id="finished" class="btn btn-lg btn-default">Atsiimti prizą</button>
        <a id="finishedAtsiliepimas" href="/atsiliepimas/create" class="btn btn-lg btn-default">Palikti atsiliepimą</a>
      </div>
    </div>

    <div class="row google">
      <div class="col-lg-12 ">
        <div id="map"></div>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Jei norite atsiimti prizą, parodykite šį kodą įmonės darbuotojui*</h2>
          <h2>Dėkojame, kad naudojatės mūsų paslaugomis!</h2>
        </div>
        <div class="modal-body">
          <img src="/images/TomasRimkus.png" alt="">
          <h6 class="text-center">*Prizų kiekis ribotas</h6>
        </div>
      </div>
    </div>

    <div id="modalInst" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Instrukcija</h2>
        </div>
        <div class="modal-body">
          <h2>1. Objektų žymėjimasis</h2>
          <p>Jei aplankėte objektą esantį iššūkio saraše, paspauskite mygtuką apsilankiau ir šis objektas bus pažymėtas kaip aplankytas. (nusispalvins žaliai)</p>
          <h2>2. Iššūkio įvykdymas</h2>
          <p>Iššūkis tampa įvykdytu, kai visi sąraše pateikti objektai yra aplankyti ir nuspalvinti. Tai jums sekti padeda ir šone esantis aplankytų objektų sekėjas.</p>
          <h2>3. Prizo atsiėmimas</h2>
          <p>Įvykdžius iššūkį, atsiras mygtukas, kuris leis atsiimti prizą. Paspaudus mygtuką iššoks langas su specialiu QR kodu, kurį galėsite parodyti iššūkį sukūrusios įmonės darbuotojui ir atsiimti jums skirtą prizą. </p>
          <h2>4. Jūsų nuomonė</h2>
          <p>Nepamirškite palikti atsiliepimą, nuomonę ar pastebėjimą. Jūsų įžvalgos mums svarbios, į jas atsižvelgsime toliau kurdami ir tobulindami šį produktą. </p>
          <h2>Dėkojame, kad naudojatės mūsų produktu.</h2>
        </div>
      </div>
    </div>

<% include ../partials/footer %>

<!--MODAL -->
<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("finished");
    var span1 = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close")[1];
    var instrukcija = document.getElementById("instrukcija");
    var modalInst = document.getElementById("modalInst");

    instrukcija.onclick = function() {
        modalInst.style.display = "block";
    }

    span2.onclick = function() {
        modalInst.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modalInst) {
            modalInst.style.display = "none";
        } else if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span1.onclick = function() {
        modal.style.display = "none";
    }
</script>

<!-- InitMap -->
<script>
  function initMap(){
    var styledMapType = new google.maps.StyledMapType(
      [
        {
          featureType: 'poi',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        }
      ],
      { name: 'Styled Map' }
    );

    var latt = [];
    var long = [];
    var names = [];
    var markersName = document.getElementsByClassName("name");  
    var markersLattitude = document.getElementsByClassName("lattitude");
    var markersLongitude = document.getElementsByClassName("longitude");

    for(var i = 0; i < markersLattitude.length; i++) {
      latt.push(parseFloat(markersLattitude[i].innerText));
    }

    for(var i = 0; i < markersName.length; i++) {
      names.push((markersName[i].innerText));
    }

    for(var i = 0; i < markersLongitude.length; i++) {
      long.push(parseFloat(markersLongitude[i].innerText));
    }

    var center = { lat: latt[0], lng: long[0] };
    
    window.myMap = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center,
        mapTypeControlOptions: {
          mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
        }
      });
    
    myMap.mapTypes.set('styled_map', styledMapType);
    myMap.setMapTypeId('styled_map');

    var image = {
      url: '/images/marker.png',
      size: new google.maps.Size(50, 50),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(0, 0),
      scaledSize: new google.maps.Size(25, 25)
    };

    for(var i = 0; i < latt.length; i++) {
      var marker = new google.maps.Marker({
        position: { lat: latt[i], lng: long[i]},
        map: myMap,
        title: names[i],
        icon: image
      })
    }

    var isViso = document.getElementsByClassName('obj');
    var pazymeta = document.getElementsByClassName('checked');
    var butt = document.getElementById('finished');
    var atsbutt = document.getElementById('finishedAtsiliepimas');

    if(isViso.length == pazymeta.length) {
      butt.style.visibility = "visible";
      atsbutt.style.visibility = "visible";
    }
  }
</script>

<script>
  function measure(lat1, lon1, lat2, lon2) {
    var R = 6378.137; // Radius of earth in KM
    var dLat = lat2 * Math.PI / 180 - lat1 * Math.PI / 180;
    var dLon = lon2 * Math.PI / 180 - lon1 * Math.PI / 180;
    var a =
      Math.sin(dLat / 2) * Math.sin(dLat / 2) +
      Math.cos(lat1 * Math.PI / 180) *
        Math.cos(lat2 * Math.PI / 180) *
        Math.sin(dLon / 2) *
        Math.sin(dLon / 2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
    var d = R * c;
    return Math.round(d * 1000); // meters
  }

  function checkIn(lat, long) {

  function success(pos) {
    var currentLatitude = pos.coords.latitude;
    var currentLongitude = pos.coords.longitude;

    var distance = measure(
      currentLatitude,
      currentLongitude,
      lat,
      long
    );

    if (distance >= 100) {
      alert("Esate per toli");
    } else {
      alert("Sveikiname, jums pavyko!");
    }
    console.log(distance);
  }

  function error() {
    console.log('Kažkas netaip');
  }

  navigator.geolocation.getCurrentPosition(success, error);
}
</script>

<script>
 function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    document.body.appendChild(form);
    form.submit();
}

  document.getElementById("rakt")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        var val = document.getElementById("rakt").value;
        var nr = document.getElementById("rakt").getAttribute("nr");
        var objid = document.getElementsByClassName("objid")[nr-1].innerHTML;
        var raktas = document.getElementsByClassName("objraktas")[nr-1].innerHTML;
        if(val == raktas) {
          post('/playingcampaign/'+ objid);
          alert("Sėkmingai pridėta");
        } else {
          alert("Raktažodis netinkamas");
        }
      }
  });
</script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQJ2TeX4CKtS00G-PbUMSuKjZ8fc-fyQQ&callback=initMap">
  </script>