<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/campaign.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <title>Žemėlapis</title>
</head>

<body>
  <div class="container-fluid">
      <div id="map"></div>         
    <div class="row">
      <div class="col-lg-12 clientSection">
        <h2><%= user.facebook.name%></h2>
        <h2>Turimi taškai: <%= user.points %></h2>
      </div>
    </div>
    <div class="row">
      <% mapobjects.forEach(mapobj => { %>
        <div class="col-md-4 col-sm-6 col-xs-12 objInfo">
          <div class="thumbnail">
            <div>
              <h3 style="margin-left: 10px;" >Objekto pavadinimas: <span class="name"><%=mapobj.name%></span></h3>
            </div>
            <div>
              <p style="margin-left: 10px;">Lattitude: <span class="lattitude"><%=mapobj.lattitude%></span></p>
            </div>
            <div>
              <p style="margin-left: 10px;">Longitude: <span class="longitude"><%=mapobj.longitude%></span></p>
            </div>
            <form action="/check?_method=PUT" method="POST">
              <div class="form-group">
                <button class="btn btn-primary btn-md">Check In</button>
              </div>
            </form>
          </div>
        </div>
      <% }); %>
    </div>
    <a id="goBack" href="/">Grįžti į pradžią</a>
  </div>

<script>

function initMap(){
  var styledMapType = new google.maps.StyledMapType(
    [
      {
        featureType: 'poi',
        stylers: [
          {
            visibility: 'off'
          }
        ]
      }
    ],
    { name: 'Styled Map' }
  );
  var gediminoPilis = { lat: 54.686757, lng: 25.29069 };
  var latt = [];
  var long = [];
  var names = [];
  var markersName = document.getElementsByClassName("name");  
  var markersLattitude = document.getElementsByClassName("lattitude");
  var markersLongitude = document.getElementsByClassName("longitude");

  for(var i = 0; i < markersLattitude.length; i++) {
    latt.push(parseFloat(markersLattitude[i].innerText));
  }

  for(var i = 0; i < markersName.length; i++) {
    names.push((markersName[i].innerText));
  }

  for(var i = 0; i < markersLongitude.length; i++) {
    long.push(parseFloat(markersLongitude[i].innerText));
  }
  
  window.myMap = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: gediminoPilis,
      mapTypeControlOptions: {
        mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
      }
    });
  
  myMap.mapTypes.set('styled_map', styledMapType);
  myMap.setMapTypeId('styled_map');

  var image = {
    url: 'images/marker.png',
    size: new google.maps.Size(50, 50),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(0, 0),
    scaledSize: new google.maps.Size(25, 25)
  };

  for(var i = 0; i < latt.length; i++) {
    var marker = new google.maps.Marker({
      position: { lat: latt[i], lng: long[i]},
      map: myMap,
      title: names[i],
      icon: image
    })
  }
}
</script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQJ2TeX4CKtS00G-PbUMSuKjZ8fc-fyQQ&callback=initMap">
  </script>
</body>

</html>