<% include ../partials/header %>
<div class="container-fluid showing">
    <div class="row mapRow">
      <div class="col-lg-8">
        <div id="map"></div>
        <% for(var i = 0; i < campaign.mapObject.length; i++) {%>
          <div class="well">
            <h4><%= i+1%>.</h4>
            <h4 class="name"><%= campaign.mapObject[i].name%></h4>
            <h4 class="lattitude"><%= campaign.mapObject[i].lattitude%></h4>
            <h4 class="longitude"><%= campaign.mapObject[i].longitude%></h4>
          </div>
        <%}%>
      </div>
      <div class="col-lg-4 nuotraukos">
        <h1><%= campaign.title%></h1>
        <h2>Sukūrė: <%= campaign.autorius.vardas%></h2>
        <h2>Objektų skaičius: <%= campaign.mapObject.length%></h2>
        <h2>Galioja iki: 2018-01-18</h2>
        <img src="/images/demola.png" alt="">
        <img src="/images/vitp.jpg" alt="">
        <% if(!user) {%>
          <a class="btn btn-lg btn-default" href="#">Pradėti</a>
        <%} else {%>
          <form action="/user/<%= user._id%>/addcampaign/<%= campaign._id%>?_method=PUT" method="POST">
            <button class="btn btn-lg btn-default" type="submit">Pradėti</button>
          </form>
        <%}%>
      </div>
    </div>
    <div class="row client">
      
      <div class="col-lg-8">
        
      </div>
    </div>

<% include ../partials/footer %>

<script>
function initMap(){
  var styledMapType = new google.maps.StyledMapType(
    [
      {
        featureType: 'poi',
        stylers: [
          {
            visibility: 'off'
          }
        ]
      }
    ],
    { name: 'Styled Map' }
  );

  var latt = [];
  var long = [];
  var names = [];
  var markersName = document.getElementsByClassName("name");  
  var markersLattitude = document.getElementsByClassName("lattitude");
  var markersLongitude = document.getElementsByClassName("longitude");

  for(var i = 0; i < markersLattitude.length; i++) {
    latt.push(parseFloat(markersLattitude[i].innerText));
  }

  for(var i = 0; i < markersName.length; i++) {
    names.push((markersName[i].innerText));
  }

  for(var i = 0; i < markersLongitude.length; i++) {
    long.push(parseFloat(markersLongitude[i].innerText));
  }

  var center = { lat: latt[0], lng: long[0] };
  
  window.myMap = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: center,
      mapTypeControlOptions: {
        mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
      }
    });
  
  myMap.mapTypes.set('styled_map', styledMapType);
  myMap.setMapTypeId('styled_map');

  var image = {
    url: '/images/marker.png',
    size: new google.maps.Size(50, 50),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(0, 0),
    scaledSize: new google.maps.Size(25, 25)
  };

  for(var i = 0; i < latt.length; i++) {
    var marker = new google.maps.Marker({
      position: { lat: latt[i], lng: long[i]},
      map: myMap,
      title: names[i],
      icon: image
    })
  }
}
</script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQJ2TeX4CKtS00G-PbUMSuKjZ8fc-fyQQ&callback=initMap">
  </script>