<% include ../partials/header %>
<div class="container-fluid showing">
<h1 id="campaignTitle"><%= campaign.title%></h1>
    <div class="row mapRow">
      <div class="col-lg-7 mapDiv">
        <h2>Iššūkio objektai</h2>
        <div id="pagalbinis" style="overflow-y: auto">
          <table class="table table-hover objectTable">
            <tr>
            <th>Nr.</th>
            <th>Pavadinimas</th>
            <th>Lattitude</th>
            <th>Longitude</th>
            </tr>       
            <% for(var i = 0; i < campaign.mapObject.length; i++) {%>
              <tr>
                <td><%= i+1%>.</td>
                <td class="name"><%= campaign.mapObject[i].name%></td>
                <td class="lattitude"><%= campaign.mapObject[i].lattitude%></td>
                <td class="longitude"><%= campaign.mapObject[i].longitude%></td>
              </tr>
            <%}%>
          </table>
          
        </div>
      </div>
      
      <div class="col-lg-5 nuotraukos">
        <h2>Iššūkio prizas</h2>
        <div class="well">
          <img class="center-block img-responsive" src="/images/candy.jpg" alt="">
        </div>
        <h4>Galioja iki: 2018-01-18</h4>
        <% if(!user) {%>
          <a id="prisijungimas" class="btn btn-lg btn-default">Pradėti</a>
        <%} else {%>
          <form action="/user/<%= user._id%>/addcampaign/<%= campaign._id%>?_method=PUT" method="POST">
            <button class="btn btn-lg btn-default" type="submit">Pradėti</button>
          </form>
        <%}%>
      </div>
    </div>

    <div class="row google">
      <div class="col-lg-12 ">
        <div id="map"></div>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Norėdami tęsti, prisijunkite</h2>
        </div>
        <div class="modal-body">
          <a href="/auth/facebook" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span> <strong>Tęsti su Facebook</strong></a>
        </div>
      </div>
    </div>

<% include ../partials/footer %>
 
<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("prisijungimas");
    var span = document.getElementsByClassName("close")[0];

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }
</script>

<script>
function initMap(){
  var styledMapType = new google.maps.StyledMapType(
    [
      {
        featureType: 'poi',
        stylers: [
          {
            visibility: 'off'
          }
        ]
      }
    ],
    { name: 'Styled Map' }
  );

  var latt = [];
  var long = [];
  var names = [];
  var markersName = document.getElementsByClassName("name");  
  var markersLattitude = document.getElementsByClassName("lattitude");
  var markersLongitude = document.getElementsByClassName("longitude");

  for(var i = 0; i < markersLattitude.length; i++) {
    latt.push(parseFloat(markersLattitude[i].innerText));
  }

  for(var i = 0; i < markersName.length; i++) {
    names.push((markersName[i].innerText));
  }

  for(var i = 0; i < markersLongitude.length; i++) {
    long.push(parseFloat(markersLongitude[i].innerText));
  }

  var center = { lat: latt[0], lng: long[0] };
  
  window.myMap = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: center,
      mapTypeControlOptions: {
        mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
      }
    });
  
  myMap.mapTypes.set('styled_map', styledMapType);
  myMap.setMapTypeId('styled_map');

  var image = {
    url: '/images/marker.png',
    size: new google.maps.Size(50, 50),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(0, 0),
    scaledSize: new google.maps.Size(25, 25)
  };

  for(var i = 0; i < latt.length; i++) {
    var marker = new google.maps.Marker({
      position: { lat: latt[i], lng: long[i]},
      map: myMap,
      title: names[i],
      icon: image
    })
  }
}
</script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQJ2TeX4CKtS00G-PbUMSuKjZ8fc-fyQQ&callback=initMap">
  </script>